*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    list-style: none;
}
/* to make a grid */
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
.left-section{
    grid-column: span 1;
    background-color: #242424;
}
.right-section{
    grid-column: span 1/span 2;
    background-color: #f7f7f7;
}
/* Styling left Section */
.left-content{
    padding: 1rem;
}

.profile-image{
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: white;
}
.designation{
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}
/* Styling part 3 */
.social-media{
    display: flex;
    justify-content: space-around;
}
.personal-details{
    padding-left: 10%;
    padding-top: 5%;
    font-size: smaller;
    color: white;
}
.skills-title{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: white;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    color: white;
}
.progess-bar{
    border: 1px solid white;
    height: 4px;
}
/* styling part 4 */
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;

}
.right-section{
    padding: 2rem 3rem 2rem 3rem;
}
@media screen and (max-width:673px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}